.App {
  text-align: center;
}

.App-header {
  background: rgb(182, 182, 182);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main_Frame{
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  background-color: red;
}

.menu_Item{
  padding-top: 7px;
  display: flex;
  margin-right: 20px;
  width: 30%;
  font-size: 14px;
  justify-content: center;
  border-radius: 50px;
  background-color: green;
}

.data_L{
  color: white;
  display: flex;
  justify-content: right;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  width: 17%;
  font-size: 14px;


}
.data_R{
  display: flex;
  color: black;
  justify-content: left;
  font-size: 16px;
  padding-left: 5%;
  width: 70%;
  margin: 2px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
  height: auto;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.data_Frame{
  display: flex;
  width: 100%;
  justify-content: center;
}

/*boton de menu inicio*/
button{
  background:red;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:0.6em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 30%;
  font-style: oblique;
}
button:hover{
  background:#fff;
  color: red;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: red;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
/*fin menu*/

.listas{
  text-align: left;
}

.titulo{
  font-size: 35px;
  font-weight: 800;
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif
}