.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(rgb(88, 88, 88), white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main_Frame{
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  margin-top: 5px;
}

.menu_Item{
  padding-top: 7px;
  display: flex;
  margin-right: 20px;
  width: 30%;
  font-size: 14px;
  justify-content: center;
  border-radius: 50px;
  background-color: green;
}

.data_L{
  color: darkslategray;
  display: flex;
  justify-content: right;
  font-size: 14px;
  text-align: left;
  width: 12%;
  border-bottom: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: groove;
}
.data_R{
  display: flex;
  color: black;
  background: linear-gradient(white, rgb(158, 158, 158), white);
  justify-content: left;
  font-size: 16px;
  padding-left: 5%;
  width: 50%;
  border-radius: 80px;
  margin: 2px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
  height: auto;
}
.data_Frame{
  display: flex;
  width: 100%;
  justify-content: center;
}

/*boton de menu inicio*/
button{
  background:red;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:0.9em;
  padding:0 2em;
  margin: 0 10px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 30%;
}
button:hover{
  background:#fff;
  color: red;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: red;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
/*fin menu*/